<h1>Users Admin</h1>
<a class="btn btn-warning mb3" (click)="addUser()">add</a>
<div class="row">
  <div class="scrollBarCustom col-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let user of users"> <!-- repeat for each user-->
          <td> {{user.id}}</td>
          <td>{{user.name}}</td>
          <td><button type="button" class="btn btn-primary" (click)="selectUser(user.id)">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Insert the other col-6 div for user details-->
  <div class = "col-6">
    <app-user-detail *ngIf="selectedUser" [user]="selectedUser"></app-user-detail>
   </div>

</div>
