<h1>Rooms Admin</h1>
<!--bind to addROom-->
<a class ="btn btn-warning mb-3" (click)="addRoom()">Add</a>
<div class="row">
  <div class = "scrollBarCustom col-6">
    <table class ="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let room of rooms">
          <td>{{room.id}}</td>
          <td>{{room.name}}</td>
          <td>
            <button type="button" class= "btn btn-primary" (click)="setRoom(room.id)">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class ="col-6">
    <!-- This is where we attached the col-6 html that shows the room details-->
    <app-room-detail  *ngIf="selectedRoom" [room]="selectedRoom"></app-room-detail>
    <!-- <app-room-edit *ngIf="action === 'edit'" [room]="selectedRoom"></app-room-edit> -->
  </div>
</div>
